body {
	/* background: rgb(18 20 22); */
	--bs-dark-rgb: white;
}

.navbar {
	/* background: rgb(197, 197, 197) !important; */
}

.card {
	background: rgb(196, 196, 196) !important;
}

.card-body {
	background: rgb(215, 215, 215);
}

.bg-dark {
	background-color: white !important;
}

.black {
	color: black;
}

.containers {
	display: flex;  
}
  
.containers .collum {
	flex: 1;
	height: 100%;
}

.form-group {
	width: 25vw
}



@media (max-width: 992px) {
	.containers:nth-child(2) {
		background: rgba(0, 0, 0, 0.42);
	}
}